.App {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.Cards {
  padding: 50px;
  height: 600px;
  width: 1000px;
  background-color: white;
  color: #282c34;
  border-radius: 10px;
}

h2 {
  font-size: calc(20px + 2vmin);
}

.FirstCard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.LastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.verticalFlexWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.verticalFlexWrapper img{
  height: 350px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.verticalFlexWrapper li {
  text-align: start;
  list-style-type: none;
  margin: 30px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
}

.FirstCard h1{
  padding: 0;
  margin: 0;
  display: inline-block;
  border-bottom: 5px solid #282c34;
}

.FirstCard p {
  font-size: 35px;
}
.App-Cards {
  font-size: calc(20px + 2vmin);
  color: white;
}

.grid-wrapper-study {
  font-size: 22px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item-soft {
  padding: 40px;
  background-color: #f0f0f0;
}

.grid-wrapper-intern {
  font-size: 22px;
  display:grid;
  grid-template-columns: 4fr 1fr;
}

.grid-wrapper-intern img{
  width: 250px;
}

.grid-wrapper-intern p{
  margin: 30px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
}

.grid-wrapper-abroad {
  font-size: 22px;
  display:grid;
  grid-template-columns: 1fr;
}

.grid-wrapper-abroad img{
  width: 150px;
}

.grid-wrapper-abroad p{
  margin: 30px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
}

